<div class="row justify-content-between" *ngIf="product">
    <div class="col-4">
        <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img-fluid w-100">
    </div>
    <div class="col-6">
        <h3>{{product.name}}</h3>
        <i class="font-size-lighter">{{product.unit}}</i>
        <p>{{product.price | currency}}</p>
        <div class="d-flex justify-content-start align-items-center">
            <i (click)="decrementQuantity()"  class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
            <button (click)="addItemToBasket()" class="btn btn-outline-success btn-lg ml-4">Add to Cart</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 ml-3">
            <h4>Description</h4>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. </p>
        </div>
    </div>
</div>